{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}

	<div class="section shadow mb-5 bg-body rounded">
		{% if app.user is null %}
			<h1 class="text-center">Bonjour !</h1>
			<h2 class="text-center">Bienvenue sur
				<img src="/assets/images/logo.svg" height="35"></h2>
			<div class="home-card row">
				<div class="col-8">

					<h2 class="">Vous êtes un nouvel utilisateur ?</h2>
					<h3 class="">Rejoignez nous afin de réserver de nouveaux rendez-vous.</h3>
					<div class="">
						<svg class="" width="16" height="16" fill="currentColor" viewbox="0 0 16 16">
							<path d="m11.825 6.2.575-.55a.288.288 0 0 0 0-.425l-.425-.425a.288.288 0 0 0-.425 0l-.525.525A5.066 5.066 0 0 0 8.2 4.05V2.8h.7c.15 0 .3-.125.3-.3v-.6c0-.15-.15-.3-.3-.3H6.3c-.175 0-.3.15-.3.3v.6c0 .175.125.3.3.3H7v1.25a5.192 5.192 0 0 0 .6 10.35c2.85 0 5.2-2.325 5.2-5.2 0-1.1-.375-2.15-.975-3zm-4.225 7a3.98 3.98 0 0 1-4-4c0-2.2 1.775-4 4-4 2.2 0 4 1.8 4 4 0 2.225-1.8 4-4 4zm.3-2.8c.15 0 .3-.125.3-.3V6.7c0-.15-.15-.3-.3-.3h-.6c-.175 0-.3.15-.3.3v3.4c0 .175.125.3.3.3h.6z"></path>
						</svg>
						<span class="">Simplifiez la prise de rendez-vous</span>
					</div>
					<div class="">
						<svg class="" width="16" height="16" fill="currentColor" viewbox="0 0 16 16">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M8 5.2h.008a2.794 2.794 0 0 1 0 5.586 2.794 2.794 0 0 1-2.792-2.793c0-.218.049-.565.109-.774.173.099.476.18.675.181A1.4 1.4 0 0 0 7.4 6a1.637 1.637 0 0 0-.181-.675c.21-.065.56-.121.781-.125zm7.113 2.435A.96.96 0 0 1 15.2 8a.96.96 0 0 1-.087.365C13.758 11.009 11.073 12.8 8 12.8c-3.073 0-5.757-1.79-7.113-4.435A.96.96 0 0 1 .8 8a.96.96 0 0 1 .087-.365C2.242 4.991 4.927 3.2 8 3.2c3.073 0 5.757 1.79 7.113 4.435zM8 11.6c2.466 0 4.727-1.375 5.948-3.6C12.728 5.775 10.466 4.4 8 4.4S3.273 5.775 2.052 8c1.22 2.225 3.482 3.6 5.948 3.6z"></path>
						</svg>
						<span class="">Gardez un contrôle et une visibilité sur vos rendez-vous médicaux</span>
					</div>
					<div class="">
						<svg class="" width="17" height="16" viewbox="0 0 16 16" fill="currentColor">
							<path fill-rule="evenodd" clip-rule="evenodd" d="m7.47 7.777-2.465-2.55c-.753-.777-.91-2.252.15-3.157.957-.82 2.225-.445 2.845.195.62-.64 1.887-1.015 2.848-.195 1.06.905.902 2.38.15 3.157L8.53 7.777A.71.71 0 0 1 8 8a.715.715 0 0 1-.53-.223zM5.912 2.99c-.47.402-.392 1.06-.064 1.395L8 6.612l2.152-2.227c.325-.338.405-.995-.067-1.398-.35-.3-.903-.225-1.233.118L8 3.99l-.855-.883c-.33-.342-.88-.417-1.233-.117zm8.41 1.015c.958.062 1.678.9 1.68 1.857v4.783c0 .635-.217 1.255-.612 1.75l-1.468 1.85a.392.392 0 0 1-.312.152h-.407c-.22 0-.4-.18-.4-.4 0-.187.062-.367.18-.515l1.467-1.835a1.59 1.59 0 0 0 .35-.997V5.822a.613.613 0 0 0-.48-.61.6.6 0 0 0-.72.588s-.005 2.525-.002 3.317a.8.8 0 0 1-.196.515l-1.912 2.315c-.443.535-1.308-.082-.848-.705l1.238-1.675a.6.6 0 0 0-.953-.732l-1.792 2.33c-.215.28-.333.622-.333.975V14c0 .22-.18.4-.4.4h-.8c-.22 0-.4-.18-.4-.4v-1.863c0-.352-.117-.695-.332-.975l-1.793-2.33a.6.6 0 1 0-.952.733l1.237 1.675c.458.622-.405 1.24-.847.705L2.602 9.63a.786.786 0 0 1-.195-.515L2.4 5.8a.6.6 0 0 0-.72-.588c-.285.053-.48.32-.48.61v4.828c0 .365.123.717.35 1l1.47 1.837c.115.145.18.328.18.515 0 .22-.18.4-.4.4h-.407a.403.403 0 0 1-.313-.152L.612 12.4A2.818 2.818 0 0 1 0 10.65V5.862c0-.957.72-1.795 1.677-1.857A1.802 1.802 0 0 1 3.6 5.8l.005 1.9a1.798 1.798 0 0 1 2.42.4l1.795 2.332c.067.088.122.185.18.28.055-.095.112-.192.18-.28L9.975 8.1a1.798 1.798 0 0 1 2.42-.4l.005-1.9c0-1.033.875-1.865 1.922-1.795z"></path>
						</svg>
						<span class="">Soyez plus proches de vos médecins</span>
					</div>
					<div class="">
						<svg class="" width="16" height="16" fill="currentColor" viewbox="0 0 16 16">
							<g clip-path="url(#house-leave_clip0)">
								<path d="M9.075 11.325s.025-.025.025-.05l.2-.475H2.8v-5L6 2.9l2.6 2.375c.225-.2.625-.45.925-.55L9.7 4.65l-3.1-2.8c-.15-.125-.425-.25-.6-.25-.2 0-.475.125-.625.25L.125 6.6c-.075.075-.15.2-.15.3 0 .1.05.225.125.275l.25.3c.075.075.2.125.3.125.075 0 .2-.025.275-.1l.675-.6V11c0 .575.425 1 1 1h5.8l.675-.675zM13.2 4a1.2 1.2 0 0 0 1.2-1.2c0-.65-.55-1.2-1.2-1.2A1.2 1.2 0 0 0 12 2.8v.025C12 3.475 12.525 4 13.2 4zm2.775 4.65c-.025-.025-.025-.05-.025-.075-.025-.05-.1-.15-.15-.2l-.725-.725c-.025 0-.05-.05-.05-.075L14.7 6.6c-.325-.975-1.45-1.8-2.5-1.8-.875 0-1.325.225-2.4.65-.45.2-.975.7-1.2 1.125l-.35.775a.888.888 0 0 0-.05.25v.05c0 .05 0 .15.025.2.025.05.075.125.125.15 0 .025.025.025.025.05.05.025.1.075.15.1h.025c.05.025.125.05.175.05h.25s0-.025.025-.025c.05-.025.15-.075.2-.125.05-.025.1-.125.125-.175l.35-.775c.1-.2.375-.425.575-.525.55-.2.825-.325 1.125-.425l-.5 1.975c-.125.475 0 .975.375 1.375l1.975 1.825c.125.125.25.35.275.5l.5 2.125c0 .05.05.15.075.2.025 0 .05.025.05.05l.1.1c.025 0 .05.025.075.025.025.025.075.05.125.075h.075c.025 0 .075.025.1.025.025 0 .075-.025.125-.025.25-.05.45-.325.45-.575v-.15l-.5-2.1c-.075-.375-.375-.875-.65-1.125l-1.35-1.25.65-2.625c.2.25.2.325.55 1.4.075.175.225.425.35.55l.725.725c.05.05.15.1.225.125.025.025.05.025.075.025.025 0 .1.025.15.025 0 0 .025-.025.05-.025.05 0 .1-.025.15-.025 0-.025.025-.025.05-.025.025-.025.1-.075.125-.1.025 0 .025-.025.05-.025.025-.05.075-.125.1-.175l.025-.025c0-.05.025-.125.025-.15 0-.025.025-.05.025-.05V8.8c-.025-.05-.025-.1-.025-.15zM4.4 6.4c-.225.025-.4.2-.4.4v1.6c0 .225.175.4.4.4H6c.2 0 .4-.175.4-.4V6.8c0-.2-.2-.375-.4-.4H4.4zm6.275 3.65h-.025a.523.523 0 0 1-.1-.15l-.7 1.675c-.05.1-.15.25-.225.325l-1.45 1.475c-.1.1-.175.275-.175.425 0 .325.25.6.6.6a.71.71 0 0 0 .425-.175l1.45-1.475c.175-.175.4-.5.475-.725l.5-1.25-.75-.7-.025-.025z"></path>
							</g>
							<defs>
								<clipPath id="house-leave_clip0">
									<path d="M0 0h16v16H0V0z"></path>
								</clipPath>
							</defs>
						</svg>
						<span class="">Gagnez en rapidité et trouvez des rendez-vous au plus près de chez vous</span>
					</div>
					<button class="btn btn-primary research-button">S'inscrire</button>

				</div>
				<div class="col">
					<img src="assets/images/home/patient.png" class="img-fluid w-100">
				</div>
			</div>


			<div class="home-card row">
				<div class="col-8">

					<h2 class="">Vous êtes professionnel de santé ?</h2>
					<h3 class="">Équipez-vous du logiciel Doctolib pour gagner en confort de travail.</h3>
					<div class="">
						<svg class="" width="16" height="16" fill="currentColor" viewbox="0 0 16 16">
							<path d="m11.825 6.2.575-.55a.288.288 0 0 0 0-.425l-.425-.425a.288.288 0 0 0-.425 0l-.525.525A5.066 5.066 0 0 0 8.2 4.05V2.8h.7c.15 0 .3-.125.3-.3v-.6c0-.15-.15-.3-.3-.3H6.3c-.175 0-.3.15-.3.3v.6c0 .175.125.3.3.3H7v1.25a5.192 5.192 0 0 0 .6 10.35c2.85 0 5.2-2.325 5.2-5.2 0-1.1-.375-2.15-.975-3zm-4.225 7a3.98 3.98 0 0 1-4-4c0-2.2 1.775-4 4-4 2.2 0 4 1.8 4 4 0 2.225-1.8 4-4 4zm.3-2.8c.15 0 .3-.125.3-.3V6.7c0-.15-.15-.3-.3-.3h-.6c-.175 0-.3.15-.3.3v3.4c0 .175.125.3.3.3h.6z"></path>
						</svg>
						<span class="">Libérez du temps médical grâce à la prise de rendez-vous en ligne et un logiciel moderne</span>
					</div>
					<div class="">
						<svg class="" width="16" height="16" fill="currentColor" viewbox="0 0 16 16">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M8 5.2h.008a2.794 2.794 0 0 1 0 5.586 2.794 2.794 0 0 1-2.792-2.793c0-.218.049-.565.109-.774.173.099.476.18.675.181A1.4 1.4 0 0 0 7.4 6a1.637 1.637 0 0 0-.181-.675c.21-.065.56-.121.781-.125zm7.113 2.435A.96.96 0 0 1 15.2 8a.96.96 0 0 1-.087.365C13.758 11.009 11.073 12.8 8 12.8c-3.073 0-5.757-1.79-7.113-4.435A.96.96 0 0 1 .8 8a.96.96 0 0 1 .087-.365C2.242 4.991 4.927 3.2 8 3.2c3.073 0 5.757 1.79 7.113 4.435zM8 11.6c2.466 0 4.727-1.375 5.948-3.6C12.728 5.775 10.466 4.4 8 4.4S3.273 5.775 2.052 8c1.22 2.225 3.482 3.6 5.948 3.6z"></path>
						</svg>
						<span class="">Développez l'activité de votre cabinet selon vos besoins grâce à une meilleure visibilité en ligne</span>
					</div>
					<div class="">
						<svg class="" width="17" height="16" viewbox="0 0 16 16" fill="currentColor">
							<path fill-rule="evenodd" clip-rule="evenodd" d="m7.47 7.777-2.465-2.55c-.753-.777-.91-2.252.15-3.157.957-.82 2.225-.445 2.845.195.62-.64 1.887-1.015 2.848-.195 1.06.905.902 2.38.15 3.157L8.53 7.777A.71.71 0 0 1 8 8a.715.715 0 0 1-.53-.223zM5.912 2.99c-.47.402-.392 1.06-.064 1.395L8 6.612l2.152-2.227c.325-.338.405-.995-.067-1.398-.35-.3-.903-.225-1.233.118L8 3.99l-.855-.883c-.33-.342-.88-.417-1.233-.117zm8.41 1.015c.958.062 1.678.9 1.68 1.857v4.783c0 .635-.217 1.255-.612 1.75l-1.468 1.85a.392.392 0 0 1-.312.152h-.407c-.22 0-.4-.18-.4-.4 0-.187.062-.367.18-.515l1.467-1.835a1.59 1.59 0 0 0 .35-.997V5.822a.613.613 0 0 0-.48-.61.6.6 0 0 0-.72.588s-.005 2.525-.002 3.317a.8.8 0 0 1-.196.515l-1.912 2.315c-.443.535-1.308-.082-.848-.705l1.238-1.675a.6.6 0 0 0-.953-.732l-1.792 2.33c-.215.28-.333.622-.333.975V14c0 .22-.18.4-.4.4h-.8c-.22 0-.4-.18-.4-.4v-1.863c0-.352-.117-.695-.332-.975l-1.793-2.33a.6.6 0 1 0-.952.733l1.237 1.675c.458.622-.405 1.24-.847.705L2.602 9.63a.786.786 0 0 1-.195-.515L2.4 5.8a.6.6 0 0 0-.72-.588c-.285.053-.48.32-.48.61v4.828c0 .365.123.717.35 1l1.47 1.837c.115.145.18.328.18.515 0 .22-.18.4-.4.4h-.407a.403.403 0 0 1-.313-.152L.612 12.4A2.818 2.818 0 0 1 0 10.65V5.862c0-.957.72-1.795 1.677-1.857A1.802 1.802 0 0 1 3.6 5.8l.005 1.9a1.798 1.798 0 0 1 2.42.4l1.795 2.332c.067.088.122.185.18.28.055-.095.112-.192.18-.28L9.975 8.1a1.798 1.798 0 0 1 2.42-.4l.005-1.9c0-1.033.875-1.865 1.922-1.795z"></path>
						</svg>
						<span class="">Gagnez en confort de travail au quotidien en réduisant les appels téléphoniques à votre cabinet</span>
					</div>
					<div class="">
						<svg class="" width="16" height="16" fill="currentColor" viewbox="0 0 16 16">
							<g clip-path="url(#house-leave_clip0)">
								<path d="M9.075 11.325s.025-.025.025-.05l.2-.475H2.8v-5L6 2.9l2.6 2.375c.225-.2.625-.45.925-.55L9.7 4.65l-3.1-2.8c-.15-.125-.425-.25-.6-.25-.2 0-.475.125-.625.25L.125 6.6c-.075.075-.15.2-.15.3 0 .1.05.225.125.275l.25.3c.075.075.2.125.3.125.075 0 .2-.025.275-.1l.675-.6V11c0 .575.425 1 1 1h5.8l.675-.675zM13.2 4a1.2 1.2 0 0 0 1.2-1.2c0-.65-.55-1.2-1.2-1.2A1.2 1.2 0 0 0 12 2.8v.025C12 3.475 12.525 4 13.2 4zm2.775 4.65c-.025-.025-.025-.05-.025-.075-.025-.05-.1-.15-.15-.2l-.725-.725c-.025 0-.05-.05-.05-.075L14.7 6.6c-.325-.975-1.45-1.8-2.5-1.8-.875 0-1.325.225-2.4.65-.45.2-.975.7-1.2 1.125l-.35.775a.888.888 0 0 0-.05.25v.05c0 .05 0 .15.025.2.025.05.075.125.125.15 0 .025.025.025.025.05.05.025.1.075.15.1h.025c.05.025.125.05.175.05h.25s0-.025.025-.025c.05-.025.15-.075.2-.125.05-.025.1-.125.125-.175l.35-.775c.1-.2.375-.425.575-.525.55-.2.825-.325 1.125-.425l-.5 1.975c-.125.475 0 .975.375 1.375l1.975 1.825c.125.125.25.35.275.5l.5 2.125c0 .05.05.15.075.2.025 0 .05.025.05.05l.1.1c.025 0 .05.025.075.025.025.025.075.05.125.075h.075c.025 0 .075.025.1.025.025 0 .075-.025.125-.025.25-.05.45-.325.45-.575v-.15l-.5-2.1c-.075-.375-.375-.875-.65-1.125l-1.35-1.25.65-2.625c.2.25.2.325.55 1.4.075.175.225.425.35.55l.725.725c.05.05.15.1.225.125.025.025.05.025.075.025.025 0 .1.025.15.025 0 0 .025-.025.05-.025.05 0 .1-.025.15-.025 0-.025.025-.025.05-.025.025-.025.1-.075.125-.1.025 0 .025-.025.05-.025.025-.05.075-.125.1-.175l.025-.025c0-.05.025-.125.025-.15 0-.025.025-.05.025-.05V8.8c-.025-.05-.025-.1-.025-.15zM4.4 6.4c-.225.025-.4.2-.4.4v1.6c0 .225.175.4.4.4H6c.2 0 .4-.175.4-.4V6.8c0-.2-.2-.375-.4-.4H4.4zm6.275 3.65h-.025a.523.523 0 0 1-.1-.15l-.7 1.675c-.05.1-.15.25-.225.325l-1.45 1.475c-.1.1-.175.275-.175.425 0 .325.25.6.6.6a.71.71 0 0 0 .425-.175l1.45-1.475c.175-.175.4-.5.475-.725l.5-1.25-.75-.7-.025-.025z"></path>
							</g>
							<defs>
								<clipPath id="house-leave_clip0">
									<path d="M0 0h16v16H0V0z"></path>
								</clipPath>
							</defs>
						</svg>
						<span class="">Améliorez l'accès aux soins pour vos patients en leur proposant la meilleure des expériences</span>
					</div>
				</div>
				<div class="col">
					<img src="assets/images/home/doctor.png" class="img-fluid w-100">
				</div>
			</div>
		{% else %}
			<h1 class="text-center">Bonjour
				{{app.user.prenom}}
				{{ app.user.nom }}
				!</h1>
			{% if app.user.roles[0] == "ROLE_PATIENT" %}
				<h1>Vos rendez-vous</h1>
				{{ render(controller(
                        'App\\Controller\\CalendrierController::index',{'patientId':app.user.id}
                )) }}

			{% endif %}
			{% if app.user.roles[0] == "ROLE_MEDECIN" %}
				<h1>Vos rendez-vous</h1>
				{{ render(controller(
                        'App\\Controller\\CalendrierController::index',{'medecinId':app.user.id}
                )) }}
			{% endif %}
		{% endif %}
	</div>
{% endblock %}
