{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="example-wrapper">
        {% if app.user is null %}
            <h1>Bonjour !</h1>
        {% else %}
            <h1>Bonjour {{app.user.prenom}} {{ app.user.nom }}! ✅</h1>
            {% if app.user.roles[0] == "ROLE_PATIENT" %}
                <h1>Vos rendez-vous</h1>
                {{ render(controller(
                        'App\\Controller\\CalendrierController::index',{'patientId':app.user.id}
                )) }}

            {% endif %}
            {% if app.user.roles[0] == "ROLE_MEDECIN" %}
                <h1>Vos rendez-vous</h1>
                {{ render(controller(
                        'App\\Controller\\CalendrierController::index',{'medecinId':app.user.id}
                )) }}
            {% endif %}
        {% endif %}
</div>
{% endblock %}
