{% extends 'home/index.html.twig' %}

{% block title %}Hello CalendrierController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div id="calendrier"></div>
        <script>
            window.onload = () => {
                var myModal = new bootstrap.Modal(document.getElementById('calendarModal'))
                let calendarElt = document.querySelector("#calendrier")
                let calendar = new FullCalendar.Calendar(calendarElt, {
                    initialView: 'timeGridWeek',
                    locale: 'fr',
                    timeZone: 'Europe/Paris',
                    allDaySlot: false,
                    headerToolbar: {
                        start: 'prev,next today',
                        end: 'dayGridMonth,timeGridWeek,timeGridDay'
                    },
                    events:{{rdv|raw}},
                    eventClick:  function(event, jsEvent, view) {
                        $('#modalTitle').html(event.event.title);
                        $('#description').html(event.event.extendedProps.description);
                        $('#id').html(event.event.id);
                        $('#telephone').html(event.event.extendedProps.telephone);
                        $('#eventUrl').attr('href',event.event.url);
                        $('#calendarModal').modal();
                        console.log(event.event);
                    }

                })
                calendar.render()
            }
        </script>
        
        <div id="calendarModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 id="modalTitle" class="modal-title"></h4>
                    </div>
                    <div id="modalBody" class="modal-body"> 
                        <span id="description"></span>
                        <br />
                        Identifiant :
                        <span id="id"></span>
                        <br />
                        Informations de contact :
                        <br />
                        Téléphone :
                        <span id="telephone"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {% if app.user.roles[0] == "ROLE_MEDECIN" %}
            <p>Veuillez entrer l'identifiant du rendez-vous pour le valider :</p>
            {{ render(controller(
                'App\\Controller\\BloquerRendezVousController::index'
            )) }}
        {% endif %}
{% endblock %}
