{% block body %}
<div id="calendrier"></div>
        <script>
        /*
        *Création d'un script générant un calendrier via la bibliothèque fullCalendar
        */
            window.onload = () => {
                //Ancrage au modal bootstrap pour obtenir des informations supplémentaires sur le rendez-vous
                var myModal = new bootstrap.Modal(document.getElementById('calendarModal'))
                //Ancrage à la div avec l'id calendrier
                let calendarElt = document.querySelector("#calendrier")
                //Création du calendrier
                let calendar = new FullCalendar.Calendar(calendarElt, {
                    //Paramètres
                    initialView: 'timeGridWeek',
                    locale: 'fr',
                    timeZone: 'Europe/Paris',
                    allDaySlot: false,
                    headerToolbar: {
                        start: 'prev next today',
                        end: 'dayGridMonth timeGridWeek timeGridDay',
                    },
                    //Changement des textes des boutons en français
                    buttonText: {
                        dayGridMonth:'Mois',
                        timeGridWeek:'Semaine',
                        timeGridDay:'Jour',
                        today:'Aujourd\'hui',
                    },
                    //Rendez-vous récupérés du controller en json
                    events:{{rdv|raw}},
                    //fonction pour envoyer les informations du rendez-vous au modal avec jquery
                    eventClick:  function(event, jsEvent, view) {
                        $('#modalTitle').html(event.event.title);
                        $('#description').html(event.event.extendedProps.description);
                        $('#id').html(event.event.id);
                        $('#telephone').html(event.event.extendedProps.telephone);
                        myModal.show();
                    }

                })
                //rendu du calendrier dans la div
                calendar.render()
            }
        </script>

        {# Modal bootstrap pour avoir plus d'informations sur le rendez-vous #}
        <div id="calendarModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 id="modalTitle" class="modal-title"></h4>
                    </div>
                    <div id="modalBody" class="modal-body"> 
                        <span id="description"></span>
                        <br />
                        Identifiant :
                        <span id="id"></span>
                        <br />
                        Informations de contact :
                        <br />
                        -Téléphone :
                        <span id="telephone"></span>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
        {# Si l'utilisateur connecté est un médecin, il peut bloquer les rendez-vous grâce au formulaire #}
        {% if app.user.roles[0] == "ROLE_MEDECIN" %}
            <p>Veuillez entrer l'identifiant du rendez-vous pour le valider :</p>
            {{ render(controller(
                'App\\Controller\\BloquerRendezVousController::index'
            )) }}
        {% endif %}
{% endblock %}
